<!doctype html>
<html lang="en">
<head id="head-index">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/getlist.css">
    <script src="https://kit.fontawesome.com/66464ed16c.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/util.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
    <script type="text/javascript" src="static/js/getList.js"></script>

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
           <script>
    function loadPage() {

        setTimeout(function(){ window.location="/catalog"; }, 1700);
      {#change html page here after testing#}
      }
    </script>
<div class="ceiln_deck">
    <nav>
        <ul>
            <li><a class="active" >Home</a></li>
            <li><a href="/catalog"> Catalogue</a></li>
            <li><a href="/logout"> Log Out</a> </li>


            <li class="deck_l2">
                <a>
                    <img class="circle" id='img' src="static/css/images/morty.jpeg" alt="Avatar">
</a>
                </li>
</ul>
    </nav>
</div>
           <div id="content-1" >
<div class="animate" id="box2">


    <i class="fas fa-clipboard-list"> Load list</i>
</div>
<div class="animate" id="box1">
    <i class="far fa-sticky-note" onclick="loadPage()">
        New list
    </i>

</div>
</div>
{#        <span>bounce in</span>#}



</body>
</html>