<!doctype html>
<html lang="en">
<head>
    <title> Login_Todo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/login.css">
    <script type="text/javascript" src="static/js/util.js"></script>
    <script type="text/javascript" src="static/js/login.js"></script>

    {#    <script src="script.js"></script>#}
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<script>
    function PlaySound() {
        var sound = document.getElementById("audio");
        sound.play()
        setTimeout(function () {
            window.location = "/regis";
        }, 1700);
        {#change html page here after testing#}
    }
</script>
<div class="top_nav">
    <ul>

        <li><a class="active" href="/">Login</a></li>
        <audio id="audio" src="static/css/sound/lub.wav" autostart="false"></audio>
        <li><a class="register" onclick="PlaySound()">Register</a></li>

    </ul>
</div>
<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
   href="https://unsplash.com/@boei?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
   target="_blank" rel="noopener noreferrer"
   title="Download free do whatever you want high-resolution photos from Friso Baaij"><span
        style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                                                          style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                                                          viewBox="0 0 32 32"><title>unsplash-logo</title><path
        d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span
        style="display:inline-block;padding:2px 3px">Friso Baaij</span></a>
<form onsubmit="return false">
    <div class="login">
        <table class="log_tab">
            <tr>
                <th>
                    <label for="username" class="label">Username</label>
                </th>
                <th>
                    <input type="email" placeholder="Enter Email-ID" name="uname" required>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="password" class="label">Password</label>
                </th>
                <th>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                </th>
            </tr>
            <tr>
                <th>
                    <button type="submit" class="log_in" id="log_in">Login</button>
                </th>
                <th>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </th>
            </tr>
        </table>
    </div>
</form>
</body>
</html>

